* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/starry-background.jpg');
}
/*Nav Bar rules*/
    .header{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        padding: 0 25px;
        transition: .3s;
    }

    .logo a{
        display: block;
    }

    .logo a img {
        display: block;
        width: 100%;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        transition: .5s;
    }

    .menu li {
        list-style-type: none;
    }

    .menu li a {
        color: #fff;
        background-color: black;
        text-decoration: none;
        display: block;
        padding: 40px 25px;
        font-size: 18px;
        line-height: 1;
        transition: 0.3s;
    }

    .menu li a:hover {
        box-shadow: 0 -5px 0px #fff inset, 500px 0 0 rgba(255,255,255,0.03) inset;
        padding: 35px 25px 45px 35px;
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 10px;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s;
    }
    .hamburger:before, .hamburger:after {
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        background: #fff;
        transition: 0.3s;
    }
    .hamburger:before{
        top: -10px;
        width: 20px;
    }
    .hamburger:after {
        top: 10px;
        width: 25px;
    }
    .toggle-menu {
        position: absolute;
        width: 30px;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
    }
    .hamburger, .toggle-menu {
        display: none;
    }
    .navigation input:checked ~ .hamburger {
        overscroll-behavior-block: transparent;
    }
    .navigation input:checked ~ .hamburger:before {
        top: 0;
        transform: rotate(-45deg);
        width: 30px;
    }
    .navigation input:checked ~ .hamburger:after {
        top: 0;
        transform: rotate(45deg);
        width: 30px;
    }

    .navigation input:checked ~ .menu {
        right: 0;
        box-shadow: -20px 0 40px rgba(0,0,0,0.3s);
    }

    /*Mobile Device Media Query*/
    @media screen and (max-width: 768px){
        .hamburger, .toggle-menu {
            display: block;
        }
        .header{
            padding: 10px 20px;
        }
        .menu {
            justify-content: start;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0;
            right: -300px;
            overscroll-behavior-block: black;
            width: 300px;
            height: 100px;
            padding-top: 65px;
        }
        .menu li {
            width: 100%;
        }
        .menu li a, .menu li a:hover {
            padding: 30px;
            font-size: 24px;
            box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
        }
        iframe {
            width: 10%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        .lead img {
            display: none;
        }
    }

    /*Tablet Media Query*/
    @media screen and (max-width: 1600px){
        iframe {
            width: 25%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }

.main {
    margin-bottom: 40%;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

#stt-wrapper {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 5px;
}

.products img:hover {
    transform: scale(1.25);
}

.content {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  iframe {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/*Animation code*/
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 100;}
}
.image-animation {
    animation-name: opacity;
    animation-duration: 5s;
}
.image-animation img {
    width: 300px;
    height: auto;
    border-style: solid;
    border-width: large;
    border-color: gold;
}

/* Cameron's page rules */
@media screen and (min-width: 768px){
    .cameron img {
        width: 50%;
        height: auto;
    }
    .cameron ul, .cameron p {
        display: block;
        float: left;
        padding: 4%;
    }
    .cameron {
        font-size: small;
    }
}

@media screen and (min-width: 965px){
    .cameron {
        font-size: medium;
    }
}

@media screen and (min-width: 1440px){
    .cameron {
        font-size: x-large;
    }
}

/* Style rules for sell.html */ 
#sell 

body.dark-background {
  background-color: #333;
  color: black;
}


main {
  padding: 20px;
  text-align: center;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #555;
  color: white;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #637796;
  padding: 20px;
}


form label {
  margin: 10px 0;
}

form input[type="text"], form input[type="file"], form select {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #555;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
}

select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  font-size: 1rem;
}

#sell img {
	width: 99.97%;
}

#jacob img {
  display: block;
  margin: 0 auto;
  border-radius: 10%;
  height: 25%;
  width: 25%;
}

	